:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-root__content {
  flex-grow: 1;
  flex-shrink: 0;
  padding: var(--content-padding);
}

:host ::ng-deep .p-splitter {
  height: 100%;
}