:host {
  width: 100%;
}

:host ::ng-deep .p-treenode-content {
  padding: 0;
}

:host ::ng-deep .p-treenode {
  padding: 0.07rem;
}

.app-ast-presenter__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-ast-presenter__pending {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

app-ast-tree {
  flex-grow: 1;
}